@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@300&family=Noto+Sans+Mono:wght@300&family=Share+Tech+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'IBM Plex Mono', 'Share Tech Mono', 'Noto Sans Mono',
    'Cutive Mono', monospace;
}

.repo-item:hover .repo-title {
  text-decoration: underline;
  color: #56ffe8;
}

.repo-item:hover .repo-description,
.repo-item:hover .repo-stat {
  color: #f8fafcb4;
}

.btn-action:hover .btn-action-arrow {
  animation: hover-action 1s linear 0s infinite;
}
@keyframes hover-action {
  0% {
    /* -webkit-transform: 'translatex(0px)', */
    transform: translatex(0px);
  }
  100% {
    /* -webkit-transform: 'translatex(-10px)', */
    transform: translatex(-10px);
  }
}
